*{
    margin:0;
    padding:0;
}
ul li {
    list-style: none;
    display:inline-block;
    float:left;
    line-height:60px;
    width: 250px;
    position:relative;
}
ul li a {
    text-decoration:none;
    font-size:20px;
    color:mediumaquamarine;
    display: block;
    padding:0 20px;
    text-align:center;

}

nav{
    background-color: aliceblue;
    height:60px;

}
ul li a:hover{
    background-color: brown;
}
.wrapper {
    margin:0 auto;
    width: 1000px;
    background-color: white;


    
}
body{
    background-color: powderblue;
}
#logo{
    float:left ;
    width: 180px;
    height: 180px;
    margin-right: 20px;
    margin-bottom: 10px;
}
p{
    text-align: justify;
    font-size: 18px;
}
header p::first-letter{
    font-size: 40px;
}
figure{
    margin-top: 50px;
    margin-bottom: 50px;
}
figure img{
    height: 25%;
    width: 25%;
    margin:5px auto;
    display: block;
}
figcaption{
    text-align: center;
}
main{
    padding: 10px 10px;
}
hr{
    margin-top:10px;
    margin-bottom: 10px;
}
ul li ul{
    display: none;
    position: absolute;
    background-color: aliceblue;
}
ul li:hover ul{
    display: block
    ;
}


